# Dependencies
node_modules/
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db
*.swp
*.swo

# Editor files
.vscode/
.idea/
*.sublime-*

# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage/

# Temporary folders
tmp/
temp/